<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"
    <title>Document</title>
</head>
<body>
    <div>
        <form  method="GET" action"#">
          <h2>Name<input type="text" name="name"></h2>
          <h2>Age  <input type="text" name="age"></h2>
          <h2>Rollno<input type="text" name="roll"></h2>
          <input type="submit" />
          <script src = "/static/serve.js"></script>
          

        </form>
    </div>
    
</body>
</html>